/* Add font Varela Round và Playfair Display download từ google font */
	/* hebrew */
	@font-face {
        font-family: 'Varela Round';
        font-style: normal;
        font-weight: 400;
        src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(../font/VarelaRound/hebrew-VarelaRound-Regular.woff2) format('woff2');
        unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
      }
      
      /* vietnamese */
      @font-face {
        font-family: 'Varela Round';
        font-display: fallback;
        font-style: normal;
        font-weight: 400;
        src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(../font/VarelaRound/vietnamese-VarelaRound-Regular.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
      }
      
      /* latin-ext */
      @font-face {
        font-family: 'Varela Round';
        font-style: normal;
        font-weight: 400;
        src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(../font/VarelaRound/latin-ext-VarelaRound-Regular.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      
      /* latin */
      @font-face {
        font-family: 'Varela Round';
        font-display: fallback;
        font-style: normal;
        font-weight: 400;
        src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(../font/VarelaRound/latin-VarelaRound-Regular.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
  
      /* cyrillic 
      @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(../../font/PlayfairDisplay/cyrillic-PlayfairDisplay.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      */
      /* vietnamese */
      @font-face {
        font-family: 'Playfair Display';
        font-display: fallback;
        font-style: normal;
        font-weight: 400;
        src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(../../font/PlayfairDisplay/vietnamese-PlayfairDisplay.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
      }
      
      /* latin-ext 
      @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(../../font/PlayfairDisplay/latin-ext-PlayfairDisplay.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      */
      /* latin */
      @font-face {
        font-family: 'Playfair Display';
        font-display: fallback;
        font-style: normal;
        font-weight: 400;
        src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(../font/PlayfairDisplay/latin-PlayfairDisplay-Regular.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
  /*End add font*/
  
  :root 	{
      --main-color :#6dadb0/* dec18c c5cda0 6dadb0*/;
      --width-side-bar :270px;
  }
  
  * 					{box-sizing:border-box;}
  html				{}
  body, ul 		{margin:0; padding:0; color:#555; font-family: 'Varela Round'; font-size:14px; -webkit-font-smoothing:antialiased;  }
  h1,h2,h3,h4	{font-family: 'Playfair Display'; font-weight:400;} 
  h2 					{font-size:30px;}
  h3		 			{font-size:18px;}
  a 					{color:inherit; text-decoration:none; outline:none; background:transparent; cursor:pointer;}
  ul li				{list-style:none;}
  #wrap-container 	{overflow:hidden;}
  .container 			{width:100%;}
  .row 				{width:1170px; margin:0 auto;}
  .drop-down-list	 {position:relative;}
  .drop-down-list	ul 	{position:absolute; display:none;}
  .drop-down-list:hover ul {display:block;}
  .el-mobile 	{display:none;}
  
  /* DESKTOP */
      .container-top-bar 	{background:var(--main-color);}
          .row-top-bar			{display:grid; grid-template-columns:200px auto; grid-gap:0;}
              .top-bar-left 	{}
                  .top-bar-left > .drop-down-list 		 {display:inline-block; margin-right:20px;}
                  .top-bar-left > .drop-down-list	span {display:inline-block; padding:10px 0; cursor:pointer; color:#FFF;}
                  .top-bar-left > .drop-down-list	span:after		{content:"\203A"; display:inline-block; font-family:monospace, tahoma; color:inherit; margin-left:5px; transform:rotate(90deg);}
                  .top-bar-left ul 		{padding:10px 0; min-width:150px; box-shadow:2px 3px 5px 2px rgba(0,0,0,.3); background:#FFF;}
                  .top-bar-left ul li {display:block; padding:0 15px; line-height:32px;}
                  .top-bar-left ul li a:hover		{color:var(--main-color);}
              .top-bar-right ul 	{text-align:right;}
              .top-bar-right ul li	{display:inline-block; padding:10px 0; color:#FFF; position:relative; margin-left:25px;}
              .top-bar-right ul li:after		{content:""; display:block; position:absolute; top:0; bottom:0; right:-15px; width:1px; height:17px; margin:auto; background:#FFF;}
              .top-bar-right ul li:last-child:after	{content:none;}
              .top-bar-right ul li a				{display:inline-block; transition:color 0.2s;}
              .top-bar-right ul li a:hover	{color:#af976c;}
  
      .container-header	{}
          .row-header			{display:grid; grid-template-columns:200px auto; grid-gap:0; border-bottom:1px solid var(--main-color);}
              .logo a				{padding:0 0; display:inline-block;}
              .logo a	 img 	{width:130px;}
              .menu ul			{text-align:right;}
              .menu ul li		{display:inline-block; margin-left:40px; position:relative;}
              .menu ul li:first-child		{margin-left:0;}
              .menu ul li a 				{padding:20px 0; margin-top:36px; display:inline-block; text-transform:uppercase; transition:color 0.1s;}
              .menu ul li.drop-down > a:after		{content:"\203A"; display:inline-block; font-family:monospace, tahoma; color:inherit; margin-left:5px; transform:rotate(90deg);}
              .menu ul li a:hover 	{color:var(--main-color);}
              .menu ul li ul 			{z-index:1; position:absolute; background:#FFF; min-width:220px; text-align:left; border:1px solid #CCC; padding:5px 25px; top:calc(100% + 50px); transition:all 0.4s; visibility:hidden; opacity:0;}
              .menu ul li ul li 	{display:block; margin-left:0; border-bottom:1px solid #E3E3E3; }
              .menu ul li ul li a	{display:block; padding:14px 0; margin-top:0; text-transform:none; transition:padding-left 0.3s; box-sizing:border-box;}
              .menu ul li ul li a:hover	{padding-left:25px;}
              .menu ul li ul li a:after	{content:none;}
              .menu ul li ul li:last-child{border-bottom:none;}
              .menu ul li:hover ul	{top:100%; opacity:1; visibility:visible;}
                  .form-search-menu-fixed 			{display:none;}
  
      .container-search-cart	{border-bottom:1px solid #DEDEDE;}
          .row-search-cart 			{display:grid; grid-template-columns:620px auto; grid-gap:0; margin:35px auto;}
              .search-box					{display:grid; grid-template-columns:180px auto; grid-gap:0;}
                  .form-search-left 					{position:relative;}
                  .form-search-left span 				{display:inline-block; padding:14px 20px 15px 20px; height:50px; width:180px; border:2px solid #EEE; cursor:pointer; user-select:none;}
                  .form-search-left span:after 	{content:"\203A"; display:inline-block; font-family:monospace, tahoma; color:#AAA; margin-left:55px; transform:rotate(90deg);}
                  .form-search-left ul					{z-index:1; background:#FFF; border:2px solid #EEE; border-top:0 solid #EEE; border-bottom:0 solid #EEE; width:180px; position:absolute; max-height:0; transition:all 0.3s; overflow:hidden;}
                  .form-search-left ul.select-show {max-height:250px; border-top:2px solid #EEE; border-bottom:2px solid #EEE; padding:5px 0; }
                  .form-search-left ul li				{}
                  .form-search-left ul li	span	{border:none; padding:10px 15px; display:block; width:100%; height:auto; transition:all 0.2s;}
                  .form-search-left ul li	span:after	{content:none;}
                  .form-search-left ul li	span:hover	{background:var(--main-color); color:#FFF;}
                  .form-search-right 				{position:relative; overflow:hidden;}
                  .form-search-right input	{width:100%; padding:15px 20px; height:50px; border:2px solid #EEE; border-left:0; outline:none; color:inherit;}
                  .form-search-right input::placeholder	{color:#AAA;}
                  .form-search-right button	{position:absolute; right:10px; top:0; line-height:49px; color:#BBB; background:transparent; border:none; cursor:pointer; outline:none;}
              .shopping-cart 	{text-align:right; line-height:49px;}
                  .shopping-cart .phone				{display:inline-block;}
                  .shopping-cart .phone svg			{width:14px; height:14px; fill:var(--main-color); stroke:var(--main-color); vertical-align:middle; margin-right:4px;}
                  .shopping-cart .cart 				{display:inline-block; margin-left:30px; position:relative;}
                  .shopping-cart .cart i				{color:var(--main-color); font-size:14px;}
                  .shopping-cart .cart span		{display:inline-block; margin-left:10px;}
                  .shopping-cart .cart:before	{content:""; display:block; position:absolute; top:0; bottom:0; left:-15px; width:1px; height:17px; margin:auto; background:#EEE;}
  
      .container-arrivals	{}
          .row-arrivals			{}
              .row-arrivals h2	{border-bottom:1px solid var(--main-color); padding-bottom:12px; padding-left:5px;}
              .grid-products		{display:grid; grid-template-columns:repeat(4, calc(25% - 30px)); grid-gap:40px; padding:10px 0;}
                  .grid-products div a.wrap-thumb-image	{width:100%; display:block; position:relative; text-align:center;}
                  .grid-products div a .thumb-primary				{width:100%; height:0; padding-bottom:100%; background-size:contain; background-position:center; background-repeat:no-repeat; opacity:1; transition:all 0.3s;}
                  .grid-products div a .thumb-secondary			{position:absolute; top:0; left:0; right:0; bottom:0;  background-size:contain; background-position:center; background-repeat:no-repeat; visibility:hidden; opacity:0; transition:all 0.3s;}
                  .grid-products div:hover a .thumb-primary 		{opacity:0.5;}
                  .grid-products div:hover a .thumb-secondary 	{opacity:1; visibility:visible;}
                  .grid-products div h4		{margin-bottom:10px;}
                  .grid-products div span.price-pd	{width:100%; display:block; text-align:center; color:var(--main-color);}
                      .products-item 	{font-family:'Varela Round'; position:relative; border:1px solid #EAEAEA; padding-bottom:20px; transition:border 0.3s;}
                      .products-item:hover 	{border:1px solid var(--main-color);}
                      .products-item h4		{font-family:inherit; text-align:center; padding:0 8px; line-height:1.4;}
                          .promotion-products-item	{position:absolute; top:0; right:0; padding:10px;}
                              .promotion-item 	{width:42px; height:42px; line-height:42px; margin-bottom:5px; text-align:center; display:block; font-size:12px; text-transform:uppercase; border-radius:100%; color:#FFF;}
                              .discount-pd 	{background-color:#b1d1c9;}
                              .new-pd 			{background-color:#c5cda0;}
                              .hot-pd 			{background-color:#fdb3a6;}
  
    .container-map 			{margin:10px 0 20px 0;}
        .map 							{display:grid; grid-template-columns:repeat(2,1fr); background:#F8F8F8; color:#BABABA; margin:20px 0;}
            .left-map 			{text-align:right; border-right:1px solid #DDD;}
            .right-map 			{text-align:left;}
            .item-map a 		{display:inline-block; padding:25px 0; color:inherit;}
            .item-map a.see-map		{margin-right:60px;}
            .item-map a.scroll-up	{margin-left:60px;}
            .item-map a i					{display:inline-block; margin-right:8px;}
            .google-map 					{max-height:0; transition:all 0.4s; overflow:hidden;}
            .google-map.show-map 	{max-height:460px;}
            .map a 					{transition:all 0.2s;}
            .map a:hover		{color:var(--main-color);}
  
    .container-footer 	{}
      .row-footer 			{}
        .footer 				{display:grid; grid-template-columns:repeat(4, 1fr); grid-gap:30px; padding:10px 0;}
          .item-footer 	{}
          .item-footer a 		 	{display:inline-block;}
          .item-footer a img 		{width:150px;}
          .item-footer p 	 		{color:#999; line-height:1.6;}
          .item-footer h4	 		{font-size:24px; color:#555; margin-top:0; margin-bottom:28px; margin-left:5px;}
          .item-footer ul li 		{margin-bottom:20px; color:#999; }
          .item-footer ul li a 	{color:inherit; margin-left:10px; transition:all 0.2s;}
          .item-footer ul li:hover a 	{color:var(--main-color); margin-left:15px; text-decoration:underline;}
          address.item-footer 					{font-style:normal;}
          address.item-footer ul li 		{position:relative;}
          address.item-footer ul li svg 	{width:20px; height:20px; position:absolute; left:0; top:0; fill:var(--main-color); stroke:#FFF;}
          address.item-footer ul li p 	{padding-left:30px;}
          address.item-footer ul li p a	{margin-left:0;}
          address.item-footer ul li:hover p a	{margin-left:0;}
        .bottom 	{border-top:1px solid #EAEAEA;}
            .row-bottom 	{}
                .copyright p 		{color:#999; padding:0; text-align:center; font-size:12px;}
  /* END DESKTOP */.pure-carousel ul		{white-space:nowrap; transition:transform 0.2s;}
  .pure-carousel ul li	{display:inline-block; position:relative; background-size:cover; background-position:center; background-repeat:no-repeat; cursor:pointer;}
  .pure-carousel ul li.active:before	{content:""; position:absolute; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0.4);}.container-slideshow	{padding:30px 0;}
          .row-slideshow			{}
              .slideshow 				{max-width:100%; padding-top:41%; overflow:hidden; position:relative; margin:auto;}
                .slide 					{visibility:hidden; opacity:0; transition:all 1s; position:absolute; top:0; left:0; bottom:0; right:0; background-size:cover; background-position:center center; background-repeat:no-repeat;}
                    .slide img 			{width:100%;}
                .prev-slide, .next-slide 	{cursor:pointer; position:absolute; top:50%; width:auto; margin-top:-22px; padding:16px; color:#FFF; font-weight:bold; font-size:18px; transition:all 0.5s; border-radius:0 3px 3px 0; user-select:none;}
                .next-slide 		{right:0; border-radius:3px 0 0 3px;}
                .prev-slide:hover, .next-slide:hover {background-color:rgba(0,0,0,0.4);}
                .dot-slide 			{position:absolute; bottom:10px; left:0; right:0; text-align:center; user-select:none;}
                .dot-slide span {cursor:pointer; height:12px; width:12px; margin:0 2px; background-color:#bbb; border-radius:50%; display:inline-block; transition:background-color 0.2s}
                span.active-dot-slide, .dot-slide span:hover {background-color:#717171;}
                .active-slide 	{visibility:visible; opacity:1;}.container-slogan 	{padding:70px 0;}
      .row-slogan				{}
          .slogan 				{display:grid; grid-template-columns:1fr 2fr; grid-gap:35px; padding:10px 0;}
            .left-slogan 	{height:280px;}
                .background-left-slogan 		{width:100%; height:270px; position:relative; text-align:center; border:3px solid #EEE; background:url('../../../assets/images/handmade/slo1.jpg') no-repeat; background-size:100%;}
                .background-left-slogan h2 	{padding:0 40px; margin:0; position:absolute; top:50%; transform:translateY(-50%);}
            .right-slogan {position:relative; overflow:hidden;}
            .right-slogan:after 	{content:""; width:100%; height:100%; background:rgba(255,255,255,0.5); position:absolute; top:0; left:0; transform:rotate(-40deg) translate(0,-200%); transition:transform 0.6s;}
                .background-right-slogan 	{position:absolute; top:0; left:0; right:15px; bottom:15px; transition:background-size 0.3s; background:url('../../../assets/images/handmade/slo2.jpg') no-repeat; background-size:100%; background-position:center center;}
                .border-right-slogan  		{position:absolute; top:15px; left:15px; right:0; bottom:0; border:2px solid var(--main-color);}
            .right-slogan:hover .background-right-slogan 	{background-size:110%;}
            .right-slogan:hover:after 	{transform:rotate(-40deg) translate(0,200%);}.container-about-us	{padding-bottom:50px;}
      .row-about-us			{}
      .row-about-us	h1	{border-bottom:1px solid var(--main-color); text-align:center; padding-bottom:20px;}
      .row-about-us	p		{color:#777; text-align:center; line-height:1.7; font-size:14px;}.container-blog 		{padding-bottom:50px;}
      .row-blog					{overflow:hidden; position:relative;}
          .row-blog h1 		{border-bottom:1px solid var(--main-color); padding-bottom:15px; padding-left:5px;}
          .row-blog button 		{position:absolute; top:20px; background-color:#FFF; border:2px solid #EDEDED; outline:none; padding:10px 12px; color:#999; cursor:pointer; transition:all 0.2s; font-size:0;}
          .row-blog button:hover    		{background-color:#EEE; color:#555;}
          .row-blog button.prev-blog 		{right:48px;}
          .row-blog button.next-blog 		{right:0;}
          .drag-blog 				{}
          .drag-blog * 			{user-select:none;}
            .blog 				{display:grid; grid-auto-flow:column; transition:transform 200ms;}
                .item-blog 		{width:100%;}
                    .thumbnail-item-blog 				{position:relative; width:100%; padding-top:58%; background-position:center center; background-size:cover; background-repeat:no-repeat;}
                    .thumbnail-item-blog:after 	{content:""; position:absolute; top:0; right:0; bottom:0; left:0; background-color:rgba(222,193,140,0.7); opacity:0; transition:opacity 0.2s;}
                    .thumbnail-item-blog a 			{position:absolute; z-index:1; color:#FFF; bottom:10px; right:20px; font-size:13px; font-weight:bold; transition:all 0.2s; opacity:0; -webkit-user-drag:none;}
                    .thumbnail-item-blog:hover a 			{opacity:1;}
                    .thumbnail-item-blog:hover:after 	{opacity:1;}
                    .item-blog h3  		{margin-bottom:10px;}
                    .item-blog h3 a 	{font-weight:normal; -webkit-user-drag:none;}
                    .item-blog span 	{display:block; color:var(--main-color);}
                    .item-blog p 			{color:#777; line-height:1.8;}
  .bg-title-page 			{position:relative; margin-top:35px; padding-bottom:230px; background:url('../../../assets/images/handmade/bg-title-page.jpg') no-repeat; background-size:cover; background-position:center center;}
  .bg-title-page:after 	{content:""; position:absolute; top:0; right:0; bottom:0; left:0; background-color:rgba(255,255,255,0.3);}
  .bg-title-page h2 	 	{display:inline-block; position:absolute; z-index:1; right:0;left:0; top:50%; transform:translateY(-50%); text-align:center; margin:auto; font-size:40px;}  				.wrap-breadcrumbs 			{position:relative; border-bottom:2px solid #EEE;}	
      .breadcrumbs  					{padding:38px 0 30px 0;}
      .breadcrumbs li					{display:inline-block; color:#777;}
      .breadcrumbs li a				{display:inline-block; color:var(--main-color); padding:2px 0;}
      .breadcrumbs li:before 	{content:"\203A"; display:inline-block; color:var(--main-color); padding:0 9px 0 7px;}
      .breadcrumbs li:first-child:before 	{content:none;}
      .show-sort 			{position:absolute; right:0; top:0; text-align:right; width:50%; color:#999;}
      .show-sort p			{padding:38px 0 30px 0; margin:0 25px 0 0; display:inline-block; color:inherit;}
      .show-sort select {display:inline-block; padding:10px; background:#F8F8F8; border:none; outline:none; color:inherit; font-size:13px; text-transform:uppercase;}@supports (--css: variables) {
      input[type="range"].multirange {padding: 0; margin: 0; display: inline-block; vertical-align: top;}
  
      input[type="range"].multirange.original {position: absolute;}
  
          input[type="range"].multirange.original::-webkit-slider-thumb {position: relative; z-index: 2;}
  
          input[type="range"].multirange.original::-moz-range-thumb {transform: scale(1); /* FF doesn't apply position it seems */ z-index: 1;}
  
          input[type="range"].multirange::-moz-range-track {border-color: transparent; /* needed to switch FF to "styleable" control */}
  
      input[type="range"].multirange.ghost {position: relative; background: var(--track-background); --track-background: linear-gradient(to right, transparent var(--low), var(--range-color) 0, var(--range-color) var(--high), transparent 0 ) no-repeat 0 45% / 100% 40%; --range-color: hsl(190, 80%, 40%);}
  
          input[type="range"].multirange.ghost::-webkit-slider-runnable-track { background: var(--track-background);	}
  
          input[type="range"].multirange.ghost::-moz-range-track { background: var(--track-background);	}
  }
  
  .sidebar 							{width:var(--width-side-bar); float:left;}
  .sidebar h3						{font-size:21px; margin-top:0; margin-bottom:12px;}
      .widget-sidebar  		{margin-bottom:50px;}
    .widget-filter 			{border:2px solid var(--main-color); padding:15px;}
            .widget-filter h3			{text-align:center; margin-top:10px;}
          .wrap-range-slider 		{width:100%; margin:10px auto; position:relative; height:30px;}
            .range-slider 				{-webkit-appearance:none; appearance:none; top:10px; left:0; width:100%; height:5px; background:#d3d3d3; outline:none; position:absolute;}
            .range-slider::-webkit-slider-thumb 	{-webkit-appearance: none; appearance:none; width:12px; height:12px; border-radius:50%; background:#333; cursor:pointer; z-index:1;}			  	
              .range-slider::-moz-range-thumb 			{width:12px; height:12px; border-radius:50%; background:#333; cursor:pointer; z-index:1;}
              input[type="range"].multirange.ghost				{--range-color:var(--main-color);}
            .widget-filter p							 				{display:inline-block; margin:0;}
            .widget-filter p.output-range 				{color:#888; font-size:13px; padding:13px 0;}
            .widget-filter p.button-filter 			{float:right; padding:12px; background:#EAEAEA; user-select:none; cursor:pointer; transition:all 0.2s;}
            .widget-filter p.button-filter:hover {background-color:var(--main-color); color:#FFF;}
      .widget-search 			{}
          .widget-search div 	{display:block; width:100%; position:relative;}
          .widget-search div input  			{width:100%; height:50px; border:2px solid #EEE; padding:0 50px 0 15px; outline:none; font-size:14px; transition:border 0.2s;}
          .widget-search div input:focus  {border:2px solid var(--main-color);}
          .widget-search div button 			{position:absolute; right:0; top:0; padding:0; height:50px; width:50px; color:#555; background-color:transparent; border:none; outline:none; cursor:pointer; font-size:16px; transition:color 0.2s;}
          .widget-search div button svg   {transform:translateY(2px); color:#888; transition:color 0.2s;}
          .widget-search div button:hover svg {color:var(--main-color);}
      .widget-category 		{}
          .widget-category ul 								{color:#888;}
          .widget-category ul li							{border-top:1px solid #DFDFDF; padding:5px 0; overflow:hidden;}
          .widget-category ul li:first-child				{border-top:none;}
          .widget-category ul li a						{padding:10px 5px; transition:all 0.2s; display:block;}
          .widget-category ul li:hover a 			{transform:translateX(10px);  color:var(--main-color);}
          .widget-category ul li a.active			{transform:translateX(10px);  color:var(--main-color);}
      .widget-product-top-rated 	{border:2px solid #EDEDED; padding:5px 15px; margin-top:40px; font-size:15px;}
        .widget-product-top-rated h3 {border-bottom:1px solid var(--main-color); padding-bottom:10px; margin-bottom:30px;}
        .product-top-rated 		{border-bottom:1px solid #EEE; padding-bottom:20px; margin-top:20px; overflow:hidden;}
        .product-top-rated:last-child 	{border-bottom:none;}
            .product-top-rated a 			{width:100%; display:block; margin-bottom:5px;}
            .product-top-rated a img	{width:70px; height:70px; float:left; margin-right:15px;}
            .product-top-rated a span	{}
            .product-top-rated span.price-pd-top-rated	{color:var(--main-color);}
      .widget-product-tags 		{}
          .widget-product-tags a 	{display:inline-block; border:1px solid #EAEAEA; padding:7px 10px; margin:5px 7px 5px 0; color:#888; transition:all 0.15s;}
          .widget-product-tags a:hover {color:#FFF; background:var(--main-color);}
  .container-products-page 	{margin:30px 0 80px 0;}
      .row-products-page 			{}
          .products-page 			{margin-top:50px; overflow:hidden;}
          .grid-products-page 	{display:grid; grid-template-columns:repeat(3, 1fr); grid-gap:40px; margin-top:0; margin-left:calc(var(--width-side-bar) + 40px); padding:0;}
          .grid-products-page .products-item 			{transition:all 0.4s; opacity:0;}
          .grid-products-page .products-item.hide 	{display:none;}
  
          .pagination 			{margin-top:40px; border-top:1px solid #EAEAEA; margin-left:calc(var(--width-side-bar) + 30px); padding:20px 0; text-align:right;}
              .pagination ul 		{}
              .pagination ul li 	{margin-left:5px; display:inline-block; user-select:none;}
              .pagination ul li a	{display:inline-block; width:40px; height:40px; line-height:36px; text-align:center; border:2px solid #EEE; border-radius:100%; color:#888; transition:all 0.4s;}
              .pagination ul li:hover a	{color:#222; border-color:#DFDFDF;}
              .pagination ul li.active 	{pointer-events:none; user-select:none;}
              .pagination ul li.active a	{color:#FFF; background-color:var(--main-color); border-color:var(--main-color); cursor:auto; transition:all 0.4s;}
              .pagination ul li.active:hover a	{color:#FFF; background-color:var(--main-color); border-color:var(--main-color);}
              .pagination ul li a.next, .pagination ul li a.prev	{border:none; font-size:12px; transform:translateY(2px);}
              .pagination ul li.hide 		{display:none;}
  
          .product-page 			{display:grid; grid-template-columns:500px auto; grid-column-gap:30px;}
  .container-products-page 	{margin:30px 0 80px 0;}
      .row-product-page 			{}
          .product-page 			{margin-top:50px; overflow:hidden;}
          .grid-product-page 		{display:grid; grid-template-columns:45% auto; grid-gap:30px; margin-top:0; padding:0;}
          .pagination 			{margin-top:40px; border-top:1px solid #EAEAEA; margin-left:calc(var(--width-side-bar) + 30px); padding:20px 0; text-align:right;}
              .pagination ul 		{}
              .pagination ul li 	{margin-left:5px; display:inline-block;}
              .pagination ul li a	{display:inline-block; width:40px; height:40px; line-height:36px; text-align:center; border:2px solid #EEE; border-radius:100%; color:#888; transition:all 0.2s;}
              .pagination ul li a:hover	{color:#222; border-color:#DFDFDF;}
              .pagination ul li a.active	{color:#FFF; background-color:var(--main-color); border-color:var(--main-color);}
              .pagination ul li a.next	{border:none; font-size:12px;}
  
          .grid-product-page {display:grid; grid-template-columns:500px auto; grid-column-gap:30px; margin-top:40px;}
              .grid-product-page .product-summary {font-family:'Varela Round';}
              .grid-product-page .product-summary h1.product-name {font-family:inherit; font-size:36px; margin:0 0 20px 0;}
              .grid-product-page .product-summary p.product-price {font-size:36px; color:var(--main-color); margin:0 0 40px 0;}
              .grid-product-page .product-summary p.product-price span.product-price-old {font-size:30px; color:#999; text-decoration:line-through; margin-right:20px;}
              .grid-product-page .product-summary p.product-description {font-size:14px; color:#777; line-height:1.8; margin-bottom:40px; white-space:pre-line;}
              .grid-product-page .product-summary .quantity-product-add-cart {margin-bottom:60px;}
              .grid-product-page .product-summary .quantity-product-add-cart .quantity-product {display:inline-block; margin-right:10px;}
              .grid-product-page .product-summary .quantity-product-add-cart .quantity-product .btn-quantity   		{height:40px; width:40px; position:relative; display:inline-block; background:#F8F8F8;}
              .grid-product-page .product-summary .quantity-product-add-cart .quantity-product .btn-quantity svg  	{position:absolute; margin:auto; left:0; right:0; top:50%; transform:translateY(-50%); color:#888; width:20px; height:20px;}
              .grid-product-page .product-summary .quantity-product-add-cart .quantity-product span.quantity  		{width:40px; height:40px; line-height:40px; text-align:center; background:#F8F8F8; display:inline-block; vertical-align:top;}
              .grid-product-page .product-summary .quantity-product-add-cart a.btn-add-to-cart  		{vertical-align:top; transition:background 0.2s; min-width:170px; height:40px; font-size:17px; background:var(--main-color); color:#FFF; text-align:center; display:inline-block; padding:10px 25px;}
              .grid-product-page .product-summary .quantity-product-add-cart a.btn-add-to-cart:hover 	{background:#333;}
              .grid-product-page .product-summary .product-meta  	{}
              .grid-product-page .product-summary .product-meta p 	{color:#777; border-bottom:1px solid #EEE; padding-bottom:10px;}
              .grid-product-page .product-summary .product-meta p a	{color:var(--main-color);}
  
          .product-detail-review 	{margin-top:60px; border-top:1px solid #EAEAEA; padding:50px 0;}
              .product-detail-review-sidebar 	{width:270px; float:left; padding:25px; border:1px solid #EAEAEA;}
              .product-detail-review-sidebar a:first-child	{border-bottom:1px solid #EAEAEA;}
              .product-detail-review-sidebar a	{padding:10px 5px 15px 5px; margin:8px 0; display:block; font-size:15px; transition:color 0.2s; color:#888;}
              .product-detail-review-sidebar a.active	 {color:var(--main-color);}
              .product-detail-review-sidebar a:hover	 {color:var(--main-color);}
              .product-detail-review-main 	{margin-left:300px; }
              .product-detail-review-main .product-detail  	{line-height:1.8; color:#777;}
              .product-detail-review-main .product-detail .h2-product-detail 	{margin:0 0 20px 0; line-height:1; color:#777; padding-bottom:20px; border-bottom:1px solid #EAEAEA;}
  
      .pure-carousel-slide > div 	{position:relative;}
      .pure-carousel-slide > div img	{width:100%;}
      .pure-carousel-slide .selected:after 	{content:""; position:absolute; top:0; left:0; right:0; bottom:0; border:2px solid #AAA;}
      .pure-carousel-preview 	{margin-bottom:10px;}
      .pure-carousel-preview .js-item-image-preview 	{display:inline-block; width:100%; font-size:0; background-position:50% 50%; background-repeat:no-repeat; cursor:zoom-in;}
      .pure-carousel-preview .js-item-image-preview img	{transition:opacity 0.2s;}.container-list-article-page	{}
      .row-list-article-page		{}
        .list-article-page 		{margin:40px 0 80px 0;}
        .list-article-page .item-article	{display:grid; grid-template-columns:repeat(2, 1fr); grid-gap:0; margin-top:40px;}
        .list-article-page .item-article .img-article	{position:relative; height:0; padding-bottom:77%;}
        .list-article-page .item-article .img-article a	{display:block; position:absolute; top:0; left:0; right:0; bottom:0; background-size:cover; background-position:center; background-repeat:no-repeat;}
        .list-article-page .item-article .des-article		{text-align:center; padding:30px 50px; background-color:#F8F8F8;}
        .list-article-page .item-article .des-article	h3	{margin:0; padding-top:10px;}
        .list-article-page .item-article .des-article	h3 svg	{transform:rotate(45deg); stroke:var(--main-color); width:20px; height:20px; display:inline-block;}
        .list-article-page .item-article .des-article	h3 span	{display:block; margin-top:10px; font-family:arial; text-transform:uppercase; color:#AAA; font-size:14px;}
        .list-article-page .item-article .des-article	h2	{margin:15px 0; color:#333; height:75px; font-size:22px; line-height:1.7; font-weight:bold; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical;}
        .list-article-page .item-article .des-article	p.info-des	{font-size:16px; margin-bottom:40px; line-height:1.8; height:120px; text-align:justify; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:4; -webkit-box-orient: vertical;}
        .list-article-page .item-article .des-article	a.btn-readmore-article	{display:inline-block; background-color:#1e2b31; color:#FFF; padding:20px 40px; border-radius:50px; font-size:15px; transition:background-color 0.1s;}
        .list-article-page .item-article .des-article	a.btn-readmore-article:hover	{background-color:var(--main-color);}
  
        .list-article-page .item-article:nth-child(even) .img-article	{order:1;}
  .container-contact-page {padding-bottom:40px;}
    .row-contact-page 	{}
      .grid-contact-page 	{display:grid; grid-template-columns:1fr 1fr; grid-gap:50px; margin-top:40px;}
        .grid-contact-page .contact-map 	{}
        .grid-contact-page .contact-map iframe  {width:100%;}
        .grid-contact-page .collect-info-customer {text-align:center;}
        .grid-contact-page .collect-info-customer h3 	{font-size:25px; margin:0 0 10px 0; }
        .grid-contact-page .collect-info-customer p 	{padding:10px; margin:0; color:#777;}
        .grid-contact-page .collect-info-customer label 	  {display:block; font-size:13px; margin:20px 0 7px 0;}
        .grid-contact-page .collect-info-customer input 	  {width:100%; }
        .grid-contact-page .collect-info-customer textarea  {width:100%; min-height:140px; max-height:200px;}
        .grid-contact-page .collect-info-customer a.btn-default  {margin-top:20px;}@media (max-width:1200px) {
  :root	{--width-side-bar :242px;}
      .row 	{width:970px;}
              .slogan 				{grid-template-columns:1fr 2fr;}
                    .background-left-slogan h2 	{padding:0 20px; font-size:27px;}
                    .background-right-slogan 	{background-size:auto 100%;}
                .right-slogan:hover .background-right-slogan 	{background-size:auto 110%;}
  
  
      .container-list-article-page	{}
        .list-article-page .item-article .img-article	  {padding-bottom:90%;}
           .list-article-page .item-article .des-article		{padding:20px 40px;}
  }
  
  
  @media (max-width:992px) {   
  :root	{--width-side-bar:0;}
      #wrap-container {overflow:hidden;}
      .row 	{width:720px;}
      .el-mobile 	{display:block;}
  
      .container-top-bar 	{display:none;}
          .row-header			{grid-template-columns:1fr; border-bottom:none; text-align:center;}
              .logo a img 	{width:155px;}
              .menu 				{position:fixed; top:0; left:-280px; bottom:0; border-right:4px solid var(--main-color); background:#383838; width:280px; z-index:3; transition:all 0.5s;}
              .menu ul			{text-align:left; color:#DDD;}
              .menu ul li		{display:block; margin-left:0; border-bottom:1px solid #555;}
              .menu ul li a 				{line-height:1; padding:15px; margin-top:0;}
              .menu ul li.drop-down a:after		{position:absolute; transform:rotate(0deg); right:20px; transition:all 0.3s; font-size:22px; top:10px;}
              .menu ul li a:hover 	{color:inherit;}
              .menu ul li:hover ul	{top:auto; opacity:1; visibility:visible;}
              .menu ul li ul 			{z-index:auto; position:relative; background:#444; min-width:auto; border:none; padding:0; top:auto; transition:max-height 0.3s; visibility:visible; opacity:1; overflow:hidden;}
              .menu ul li ul li 	{border-bottom:1px solid #555; }
              .menu ul li ul li a	{line-height:1; transition:none; margin-left:20px;}
              .menu ul li ul li a:hover	{padding-left:15px;}
              .menu ul li.active-menu 	{color:var(--main-color);}
              .menu ul li.active-menu a:after	{color:var(--main-color); transform:rotate(90deg);}
              .menu ul li ul li a:after	{content:none;}
                  .form-search-menu-fixed 			{position:relative; overflow:hidden; padding:15px; display:block; background:#222;}
                  .form-search-menu-fixed input	{padding:12px; width:100%; background:#333; border:none; outline:none; color:#AAA; font-size:15px;}
                  .form-search-menu-fixed input::placeholder	{color:#888;}
                  .form-search-menu-fixed button	{position:absolute; right:20px; top:15px; line-height:40px; color:#AAA; background:transparent; border:none; cursor:pointer; outline:none;}
  
      .container-search-cart	{display:none;}
  
      .container-mobile-header 	{height:50px;}
          .container-mobile-header .fixed-scroll			 {background:#333; }
          .container-mobile-header.fixed .fixed-scroll {position:fixed; top:0; left:0; right:0; z-index:1;}
              .row-mobile-header			{}
                  .mobile-header 				{position:relative; height:50px; transition:transform 0.5s;}
                  .mobile-header.in 		{transform:translateX(280px);}
                      .nav-menu-mobile 		{height:50px; width:30px; position:relative; display:inline-block; transition:transform 0.5s;}
                      .nav-menu-mobile:before		{position:absolute; content:''; height:3px; left:3px; right:3px; top:15px; background:#EEE; transform-origin:top left; transition:transform 0.5s;}
                      .nav-menu-mobile:after 		{position:absolute; content:''; height:3px; left:3px; right:3px; top:31px; background:#EEE; transform-origin:bottom left; transition:transform 0.5s;}
                      .nav-menu-mobile span 		{position:absolute; height:3px; left:3px; right:3px; top:23px; background:#EEE;  transition:opacity 0.5s;}
                      .nav-menu-mobile.in:before 	{transform:rotate(45deg);}
                      .nav-menu-mobile.in:after  	{transform:rotate(-45deg);}
                      .nav-menu-mobile.in span  	{opacity:0;}
                      .menu.in 										{transform:translateX(280px);}
                      .bg-overlay-menu-mobile 		{position:fixed; top:0; left:0; right:0; bottom:0; background-color:#000; z-index:-1; opacity:0; transition:opacity 0.5s;}
                      .bg-overlay-menu-mobile.in 	{opacity:0.5; z-index:2;}
                      .bg-overlay-menu-mobile.out	{opacity:0; z-index:1;}
                      .mobile-header-search-cart  {position:absolute; top:0; bottom:0; right:0; margin:auto;}
                          .mobile-header-search-cart a.btn-mobile-header-search, a.mobile-header-cart {width:36px; height:30px; line-height:30px; color:#FFF; border: 1px solid #EEE; display:inline-block; text-align:center; margin-top:10px;}
                          .mobile-header-search-cart a.btn-mobile-header-search svg, a.mobile-header-cart svg {transform:translateY(3px);}
                          .wrap-mobile-header-cart 	 	 {display:inline-block; margin-left:10px;}
  
      .container-slogan 	{}
          .row-slogan				{}
              .slogan 				{grid-template-columns:1fr ; grid-gap:30px; padding:0;}
                .left-slogan 	{height:270px;}
                    .background-left-slogan 		{background-size:auto; background-position:center center;}
                    .background-left-slogan h2 	{padding:0 100px;}
                .right-slogan {height:270px;}
  
      .grid-products		{grid-template-columns:repeat(3, 1fr);}
  
      .grid-product-page 	{grid-template-columns:370px auto; grid-row-gap:40px;}
  
      .container-list-article-page	{}
        .list-article-page .item-article .img-article	  {padding-bottom:110%;}
          .list-article-page .item-article .des-article p.info-des	{margin-bottom:18px;}
          .list-article-page .item-article .des-article a.btn-readmore-article 	{font-size:14px; padding:12px 20px;}
  
      .container-footer 	{}
          .row-footer 			{}
        .footer 				{grid-template-columns:repeat(2, 1fr);}
          .item-footer a img 	{margin-top:0;}
          .item-footer h4	 		{margin-top:10px;}
              .row-bottom 	{grid-template-columns:repeat(1,1fr); padding:20px 0; text-align:center;}
                  .payment 	ul 		{text-align:center;}
              .back-to-top				{font-size:18px; color:#777; position:fixed; bottom:10px; right:-60px; text-align:center; width:44px; height:44px; line-height:44px; z-index:2; transition:transform 0.4s; border:2px solid #777; background-color:rgba(255,255,255,0.7); user-select:none;}
              .back-to-top.in			{transform:translateX(-70px);}
              .back-to-top svg		{transform:translateY(3px);}
              .back-to-top i			{user-select:none;}
  
        .mobile-header-search 	{opacity:0; transition:opacity 0.5s; position:fixed; padding:15px; z-index:-1; width:80%; max-width:520px; min-width:290px; min-height:100px; background:#FFF; text-align:center; left:50%; top:50%; transform:translate(-50%, -50%);}
        .mobile-header-search.in 	{opacity:1; z-index:3; transition-delay: 0.5s;}
        .mobile-header-search.out	{opacity:0; z-index:1;}
            .mobile-header-search-animation-border {position:fixed; z-index:-1; width:80%; max-width:520px; min-width:290px; min-height:100px; left:50%; top:50%; transform:translate(-50%, -50%);}
            .mobile-header-search-animation-border:after, .mobile-header-search-animation-border:before 			{content:''; position:absolute; width:0; height:0; border:2px solid	transparent; box-sizing:border-box;}
            .mobile-header-search-animation-border:before 			{top:0; left:0; border-bottom:none; border-left:none;}
            .mobile-header-search-animation-border:after 				{bottom:0; right:0; border-top:none; border-right:none;}
            .mobile-header-search-animation-border.in 						{z-index:2;}
            .mobile-header-search-animation-border.in:before 			{width:100%; height:100%; border-color:#FFF; transition:width 0.2s ease-out, height 0.1s ease-out 0.2s;}
            .mobile-header-search-animation-border.in:after 			{width:100%; height:100%; border-color:#FFF; transition:border-color 0s ease-out 0.3s, width 0.1s ease-out 0.3s, height 0.1s ease-out 0.4s;}
            .bg-overlay-mobile-header-search 				{position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(55,58,71,.9); opacity:0; z-index:-1; transition:opacity 0.5s;}
              .bg-overlay-mobile-header-search.in 		{opacity:1; z-index:2;}
              .bg-overlay-mobile-header-search.out		{opacity:0; z-index:1;}
                .mobile-header-search h3  		{font-size:22px; padding:10px 0; margin:10px 0 20px 0;}
                .mobile-header-search input 	{width:calc(100% - 40px); font-size:16px; margin-bottom:25px; color:#888; background:#F3F3F3; padding:9px 13px; border:none; outline:none;}
                .mobile-header-search button  {border-color:var(--main-color); color:var(--main-color); width:120px; border-style:double; border-width:4px; font-weight:bold; text-transform:uppercase; outline:none; padding:7px 0; background:transparent; margin-bottom:10px;}
                .mobile-header-search a 			{position:absolute; top:0; right:0; background-color:var(--main-color); padding:5px 6px; color:#FFF; margin-top:0; font-size:0;}
  
  
  
      .show-sort {width:70%;}
        .show-sort p {padding:40px 0 30px 0;}
      .sidebar   {display:none;}
  }
  
  @media (max-width:767px) {   
      .row 	{width:100%; padding:0 15px;}
      ul.breadcrumbs 	{padding-bottom:15px;}
      .show-sort 		{width:100%; position:relative;}
        .show-sort p 	  {padding:0 0 30px 0;}
      .sidebar   		{display:none;}
  
      .grid-products		{grid-template-columns:repeat(2, 1fr);}
          .row-blog button.prev-blog 		{right:63px;}
          .row-blog button.next-blog 		{right:15px;}
  
      .grid-product-page 	{grid-template-columns:100%; grid-column-gap:35px;}
  
      .container-list-article-page	{}
        .list-article-page .item-article 	{grid-template-columns:1fr; margin-top:50px;}
        .list-article-page .item-article .img-article	  {padding-bottom:75%;}
        .list-article-page .item-article:nth-child(even) .des-article	{order:2;}
  
      .row-slideshow 		 	{padding:0;}
          .slideshow 				{padding-top:70%;}
  
                    .background-left-slogan h2 	{padding:0 80px;}
  
      .container-contact-page	{}
          .row-contact-page 		{}
            .grid-contact-page 	{grid-template-columns:1fr; grid-gap:30px;}
              .grid-contact-page .contact-map iframe {height:300px;}
  
    .container-footer 	{}
      .row-footer 			{}
        .footer 				{grid-template-columns:repeat(1, 1fr);}
      .row-bottom 			{margin:20px 0;}
  }
  
  @media (max-width:425px) {
      .show-sort 		{margin-bottom:15px;}
        .show-sort p 	{padding:0 0 10px 0; margin-right:0; display:block;}	
        .show-sort select 	{padding:10px 15px;}	
      .grid-products		{grid-template-columns:repeat(1, 1fr);}
          .background-left-slogan h2 	{padding:0 40px;}
            .item-map a.see-map		{margin-right:40px;}
            .item-map a.scroll-up	{margin-left:40px;}
  }
  
  @media (max-width:375px) {
  }
  @media (max-width:320px) {
  }